# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Vercel/Deployment
.vercel/

# Runtime
*.pid
*.seed
*.pid.lock

# OS/Editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

